div.scrollmenu {
    background-color: white;
    overflow: auto;
    white-space: nowrap;
    height:100VH
  }
  
  div.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }
  
  div.scrollmenu a:hover {
    background-color: #777;
  }